[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hoon (1ambda)
[access "refs/for/refs/*"]
	read = group user/Hoon (1ambda)
	push = group user/Hoon (1ambda)
	label-Code-Review = -2..+2 group user/Hoon (1ambda)
	label-Verified = -1..+1 group user/Hoon (1ambda)
	rebase = group user/Hoon (1ambda)
	removeReviewer = group user/Hoon (1ambda)
	submit = group user/Hoon (1ambda)
[access "refs/heads/*"]
	read = group user/Hoon (1ambda)
	create = group user/Hoon (1ambda)
	push = +force group user/Hoon (1ambda)
	pushMerge = group user/Hoon (1ambda)
[access "refs/tags/*"]
	push = +force group user/Hoon (1ambda)
	pushTag = group user/Hoon (1ambda)
	pushSignedTag = group user/Hoon (1ambda)
