<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>experss</title>
    <meta name="description" content="">
    <meta name="author" content="ansterd">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bower css zone -->
    <link rel="stylesheet" href="vendor/semantic/build/packaged/css/semantic.css">
    
    <!-- custom css zone -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body ng-app="PassportApp" ng-controller="homeCtrl">
    <div>
      <header>
	<h1>Welcome, Passport App!</h1>
      </header>
    </div>

    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">
          <h3 class="ui header">Log-in</h3>
          <div class="field">
            <label for="">Id</label>
            <input ng-model="user.id" type="text" name="id" value="" />
	  </div>
          <div class="field">
            <label for="">password</label>
            <input ng-model="user.password" type="password" name="password" value="" />
	  </div>
          <div ng-click="login()" class="ui blue submit button">Login</div>
	</div>
      </div>
      <div class="column">
        <div class="ui fluid form segment">
          <h3 class="ui header">Register</h3>
          <div class="field">
            <label for="">Id</label>
            <input ng-model="user.id" type="text" name="id" value="" />
	  </div>
          <div class="field">
            <label for="">Email</label>
            <input ng-model="user.email" type="email" name="email" value="" />
	  </div>
          <div class="field">
            <label for="">password</label>
            <input ng-model="user.password" type="password" name="password" value="" />
	  </div>
          <div ng-click="register()" class="ui red button">Register</div>
	</div>
      </div>
    </div>
    
    
    <!-- bower script zone -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/semantic/build/packaged/javascript/semantic.js" type="text/javascript"></script>
    <script src="vendor/angular/angular.js" type="text/javascript"></script>
    <script src="vendor/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="vendor/angular-resource/angular-resource.js" type="text/javascript"></script>
    <!-- dev script zone -->
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- custom script zone -->	
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    
  </body>
</html>
